html {
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
  min-height: 100vh;
  max-width: 1000px;
  margin: auto;
  border-left: 1px solid #390d0d;
  border-right: 1px solid #390d0d;
  background-color:#faf5df;
  box-sizing: border-box;
}

section {
  padding: 1rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 2rem;
}

footer {
  text-align: center;
  padding: 1rem;
}
h1,h2,h3,h4,h5 {
  color: #78582f;
  text-align: center;
}

th, td, caption {
  border: 1px solid #471010;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  padding: 0.5rem;
}

p {
  max-width: 65ch;
}
header {
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
  align-items: center;
}
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.mensaje {
  display: flex;
  align-items: center;
  gap: .5rem;
}
.comprarbtn {
  background-color: #471010;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.7)
}

nav {
  align-self: stretch;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  background-color: #471010;
  padding-right: 1rem;
}
.nav:first-child{
  margin-right: auto;
}
.nav {
  display: flex;
  list-style: none;
}
.nav li {
  padding: .5rem;
}
a {
  color: #f0dbb6;
  text-decoration: none;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
}
a:hover {
  color:#f0dbb6;
  opacity: .8;
}
a:visited {
  color: #f0dbb6;
}

.almacen {
  display: flex;
  justify-content:center;
  gap: 4rem;
  padding: 2rem;
}

#horario {
  gap: 0;
}

.tablapago td {
  border: 0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  padding: 0.5rem;
}